 
body {
  margin: 0;
   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(248, 247, 255, 1);
  font-family:'Ubuntu';
}
@font-face { 
  font-family: 'Ubuntu';
  src: url(../src/Fonts/Ubuntu-Medium.ttf);

}